<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.zico.mappers.MenuMapper">
  
  <insert id="create">
  insert into tb_menu (menuno,category,mname,minfo,imgname,imgpath,msize,mprice)
  values(#{menuno},#{category},#{mname},#{minfo},#{imgname},#{imgpath},#{msize},#{mprice})
  </insert>
  
  <select id="read" resultType="Menu">  
  	select * from tb_menu where menuno = #{menuno}
  </select>
  
  <delete id="delete">
  delete from tb_menu where menuno = #{menuno}
  </delete>
  <update id="update">
  update tb_menu 
     set  category=#{category},mname=#{mname},minfo=#{minfo},imgname=#{imgname},imgpath=#{imgpath},msize=#{msize} 
   where  menuno=#{menuno}           
  </update>
  
 
  
  
  </mapper>