<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.zico.mappers.OrderMapper">
  
 	<insert id="insertOdetail">
		<selectKey order="BEFORE" keyProperty="ono" resultType="int"> SELECT MAX(ono) FROM zico_order </selectKey>
		insert into zico_order_detail (ono,menuno, count, restime) values (${ono}, ${menuno}, ${count})
	</insert>  
  </mapper>